@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Catamaran:wght@300&family=Montserrat:wght@200&family=Teko:wght@300&display=swap'); /* Arimo, Catmarran, Teko, Montserrat w/ sans-serif default */
:root {
  --color1: #3B3B3B;
  --color2: #050206;
  --color3: #9A8174;
  --color4: #FFFFFF;

}
* {
  box-sizing: border-box;
}

body {
  background: var(--color2);
}


header {
  margin: 0;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

logo {
  font-family: 'Teko';
  font-size: 20pt;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  background: var(--color3);
  text-decoration: none;
}

ul li {
  list-style-type: none;
  text-decoration: none;
}

li :hover {
  transition: ease-in 0.2s;
  color: var(--color2);
}

logo :hover {
  transition: ease-in 0.2s;
  color: var(--color1);
}

a {
  text-decoration: none;
  color: var(--color4)
}

h1 {
  font-family: 'Arimo', sans-serif;
  color: var(--color4);
}

h2 {
  color: var(--color4);
  font-family: 'Teko', sans-serif;
  font-size: 25pt
}

section {
  width: 40%;
  color: var(--color4);
  font-family: 'Montserrat', sans-serif;
}